{% extends 'gym_app/base.html' %}
{% load static %}

{% block content %}
<main class="content">
    <h1>Usuarios</h1>
    
    <!-- Sección para mostrar mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Formulario de búsqueda -->
    <form method="GET" action="{% url 'asistencia' %}" class="search-form">
        <input type="text" name="search_query" placeholder="Buscar usuario por nombre" value="{{ request.GET.search_query }}">
        <button type="submit">Buscar</button>
    </form>

    <h2>Lista de Usuarios</h2>
    <table class="user-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Enfermedades</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.name|default:"N/A" }}</td>
                <td>{{ usuario.height|default:"N/A" }}</td>
                <td>{{ usuario.weight|default:"N/A" }}</td>
                <td>{{ usuario.diseases|default:"N/A" }}</td>
                <td>
                    {% if usuario.id %}
                        <!-- Contenedor para los botones -->
                        <div class="btn-container">
                            <!-- Enlace para ver detalles del usuario -->
                            <a href="{% url 'detalles_usuario' usuario.id %}" class="btn-details">Ver Detalles</a>
                
                            <!-- Formulario para registrar la asistencia -->
                            <form method="POST" action="{% url 'registrar_asistencia' %}">
                                {% csrf_token %}
                                <input type="hidden" name="userId" value="{{ usuario.id }}"> <!-- Clave ajustada -->
                                <input type="hidden" name="name" value="{{ usuario.name }}"> <!-- Clave ajustada -->
                                <button type="submit" class="btn-register">Registrar Asistencia</button>
                            </form>
                        </div>
                    {% else %}
                        <span>Sin ID</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay usuarios registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<link rel="stylesheet" href="{% static 'asistencia/asistencia.css' %}">
{% endblock %}