{% extends 'gym_app/base.html' %}
{% load static %}

{% block content %}
<main class="content">
    <h1>Registro de Asistencia</h1>
    
    <!-- Sección para mostrar mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{% url 'asistencia' %}" class="attendance-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre_usuario">Buscar Nombre de Usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" required placeholder="Introduce tu nombre">
        </div>

        <div class="form-group">
            <label for="fecha">Fecha y hora:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>

        <div class="form-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
            </select>
        </div>

        <button type="submit" class="btn-submit">Registrar Asistencia</button>
    </form>

    <h2>Lista de Asistencias Registradas</h2>
    <table class="attendance-table">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for asistencia in asistencia %}
                <tr>
                    <td>{{ asistencia.nombre_usuario }}</td>
                    <td>{{ asistencia.fecha }}</td>
                    <td>{{ asistencia.estado }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No hay asistencias registradas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<link rel="stylesheet" href="{% static 'asistencia/asistencia.css' %}">
{% endblock %}
