{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
    
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <title>Gimnasio</title>
</head>
<body class="dark">
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <!-- Puedes agregar un logo aquí si lo deseas -->
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Bienvenido</span>
                    <span class="profession">......</span>
                </div>
            </div>
            <i class=''></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'asistencia' %}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Asistencia</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'ejercicios' %}">
                            <i class='bx bx-run icon'></i> <!-- Ícono de persona corriendo -->
                            <span class="text nav-text">Ejercicios</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'rutinas' %}">
                            <i class='bx bx-dumbbell icon'></i> <!-- Cambio el ícono a una pesa -->
                            <span class="text nav-text">Rutinas</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'graficas' %}">
                            <i class='bx bx-chart icon'></i>
                            <span class="text nav-text">Gráficas</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'inventario' %}">
                            <i class='bx bx-box icon'></i>
                            <span class="text nav-text">Inventario</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'membresias' %}">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Membresías</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'perfil' %}">
                            <i class='bx bx-user-circle icon'></i>
                            <span class="text nav-text">Perfil</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'logout' %}" class="logout-button">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Cerrar sesión</span>
                        </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'login' %}">
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Iniciar sesión</span>
                        </a>
                    </li>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <section class="home">
        <div class="text">Bienvenido a Montana GYM</div>
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </section>

    <script>
        const body = document.querySelector('body'),
              sidebar = body.querySelector('nav'),
              searchBtn = body.querySelector(".search-box");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        });
    </script>
</body>
</html>
