{% extends 'gym_app/base.html' %}
{% load static %}

{% block content %}
<main class="content">
    <div class="container">
        <h1 class="mt-5">Dashboard de Gráficas</h1>
        
        <div class="row mt-4">
            <div class="col-md-8">
                <h4>Gráfico de Rutinas por Día</h4>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Aquí pasamos las variables fechas y cantidades directamente desde Django
    var fechas = {{ fechas|safe }};
    var cantidades = {{ cantidades|safe }};

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',  // Cambia el tipo de gráfico si lo deseas ('line', 'pie', etc.)
        data: {
            labels: fechas,  // Etiquetas (fechas)
            datasets: [{
                label: 'Rutinas por Día',
                data: cantidades,  // Los valores para cada etiqueta (número de rutinas por día)
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
