{% extends 'gym_app/base.html' %}
{% load static %}

{% block content %}
<main class="content">
    <h1>Registro de Usuarios</h1>
    <form method="POST" action="{% url 'usuarios' %}">
        {% csrf_token %}
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="confirm_password">Confirmar Contraseña:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <label for="weight">Peso (kg):</label>
        <input type="number" id="weight" name="weight" required><br>

        <label for="height">Altura (cm):</label>
        <input type="number" id="height" name="height" required><br>

        <label for="diseases">Enfermedades:</label>
        <textarea id="diseases" name="diseases" rows="3"></textarea><br>

        <button type="submit">Registrar</button>
    </form>

    <h2>Lista de Usuarios Registrados</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Peso (kg)</th>
                <th>Altura (cm)</th>
                <th>Enfermedades</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.weight }}</td>
                    <td>{{ usuario.height }}</td>
                    <td>{{ usuario.diseases }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay usuarios registrados</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <!-- Almacenar la lista de usuarios en un script de JSON -->
    <script id="usuarios" type="application/json">
        {{ usuarios|json_script:"usuarios" }}
    </script>
</main>

<script src="{% static 'usuarios/usuarios.js' %}"></script>
{% endblock %}
