{% extends 'gym_app/base.html' %}
{% load static %}

{% block content %}
<main class="content">
    <h1>Lista de Usuarios</h1>
    <div class="layout-container">
        <!-- Contenedor de la tabla de usuarios -->
        <div class="user-list-container">
            <h2>Usuarios Registrados</h2>
            <table class="user-list-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Peso (kg)</th>
                        <th>Altura (cm)</th>
                        <th>Enfermedades</th>
                        <th>Detalles</th> <!-- Nueva columna para el enlace de detalles -->
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.weight }}</td>
                            <td>{{ usuario.height }}</td>
                            <td>{{ usuario.diseases }}</td>
                            <td>
                                {% if usuario.id %}
                                    <a href="{% url 'detalles_usuario' usuario.id %}">Ver Detalles</a>
                                {% else %}
                                    No ID disponible
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No hay usuarios registrados</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<link rel="stylesheet" href="{% static 'usuarios/usuarios.css' %}">
{% endblock %}
